{#def record, extra_context #}

{
    "ui_links": {{ record.links.ui_links|tojson|safe }},
    "permissions": {{ extra_context.permissions|tojson|safe }},
    "dummy_filter": {{ 1|dummy|tojson|safe }}
}

Current user: {{current_user}}

