{# render icon #}
{% macro render_icon(layout, data, record, className, style, name, size, color, iconSet) %}
    {% set value=name or data %}
    {% set iconData=iconSet[value] if iconSet and value in iconSet else value %}
    {% if iconData is string %}
        <i class="{{ iconData }} {{ className|add_size(size, 'tiny') }} {{ color }} icon" style="{{ style }}" {{ as_attributes(kwargs) }} ></i>
    {% elif iconData.name is defined %}
        <i class="{{ iconData.name }} {{ className|add_size(iconData.size, size, 'tiny') }} {{ iconData.color or color }} icon" style="{{ iconData.style or style }}" {{ as_attributes(kwargs, iconData) }} ></i>
    {% else %}
        <img class="ui image {{ className|add_size(iconData.size, size, 'tiny') }} {{ color }} oarepo-ui-image-icon"
                {{ as_attributes(kwargs, iconData) }}></img>
    {% endif %}
{% endmacro %}