{#def
  record,
  record_ui,
  files,
  media_files,
  permissions,
  is_preview,
  include_deleted,
  is_draft,
  community,
  community_ui,
  user_avatar,
  record_owner_id,
  d
#}

This component should never be used as it is overriden by 100-TestDetail.jinja
