{# render list; accepts array of values, hence "_array" suffix #}
{% macro render_list_array(layout, data, record, className, style, horizontal=false, item=none) %}
    <div class="ui {{ className }} {{ 'horizontal' if horizontal else '' }} list"  {{ as_attributes(kwargs) }}>
        {% set itemComponent = kwargs.item if item else {'component': 'raw'} %}
        {% for d in data %}
            <div class="item">
                {{ oarepo_ui.render_layout(layout=itemComponent, data=d, record=record) }}
            </div>
        {% endfor %}
    </div>
{% endmacro %}
