{# render single or double separator #}
{% macro render_separator(layout, data, record, className, style, double=false, color=none) %}
    <span class="ui basic {{ color }} label oarepo-separator">
    {%- if double -%}
        ‖
    {%- else -%}
        ❙{# mozna volba, aby bylo stejne vysoke jako double bar ❘❙ #}
    {%- endif -%}
    </span>
{% endmacro %}
