{# def files #} {% if files.entries|length > 0 %}

<table class="ui table striped rel-mb-1">
  <thead>
    <tr>
      <th colspan="3">
        <h2 class="ui header">{{ _("Files") }}</h2>
      </th>
    </tr>
    <tr>
      <th>{{ _("File") }}</th>
      <th>{{ _("Size") }}</th>
      <th>{{ _("Actions") }}</th>
    </tr>
  </thead>
  <tbody>
    {% for file in array(files.entries) %}
    <tr>
      <td>
        <a href="{{ file.links.content }}">{{ file.key }}</a>
      </td>
      <td>{{ file.size | filesizeformat }}</td>
      <td>
        <i class="ui icon zoom openPreviewIcon" data-link="{{ file.links.preview }}"></i>
        <a href="{{ file.links.content }}"><i class="ui icon download"></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>

  <div class="ui modal" id="preview-modal">
    <div class="modal-content">
      <i class="close icon"></i>
      <iframe class="fileIframe" title="File Preview"></iframe>
    </div>
  </div>
</table>

{% endif %}
