{#
SPDX-FileCopyrightText: 2026 CESNET z.s.p.o.
SPDX-License-Identifier: MIT
#}
{#def href, hasTooltip=True #}
<a href="{{href}}" target="_blank" aria-label="{{_("Open definition")}}" {% if hasTooltip %} data-tooltip="📚 {{_("Open definition")}}" {% endif %} >
        <i class="icon book justify"></i>
</a>
