{# def d=True, label=None, placeholder=None, keep=false, field_class=None #}

{%- if not d._is_empty or keep -%}
    <IBaseField label={label or d.label} field_class={field_class}>
        {%- if content is not none and ((content is not string) or content.strip()) -%}
            {{ content }}
        {%- else -%}
            <IValue value={d.value} />
        {%- endif -%}
    </IBaseField>
{%- elif placeholder -%}
    <IBaseField label={label or d.label} field_class={field_class}>
        {{ placeholder }}
    </IBaseField>
{%- endif -%}