{# def data, className="", target=None, rel=None#}
{% set data_dict = data | to_dict %}
<a class="ui {{ className }}" 
   href="{{ data_dict.href | e }}" 
   aria-label="{{ data_dict.title }}" 
   title="{{ data_dict.title }}"
   {% if rel %} rel="{{ rel }}"{% endif %}
   {% if target %} target="{{ target }}"{% endif %}>
        {{ data_dict.label if data_dict.label else data_dict.title }}
    </a>