{#
SPDX-FileCopyrightText: 2026 CESNET z.s.p.o.
SPDX-License-Identifier: MIT
#}
{#def value, placeholder="" #}

{%- if value != null -%}
    {% for val in array(value) %}
        {% if not loop.first %}, {% endif %}
        {{ val }}
    {% endfor %}
{%- else -%}
    {{ placeholder }}
{%- endif -%}
