{#
SPDX-FileCopyrightText: 2026 CESNET z.s.p.o.
SPDX-License-Identifier: MIT
#}
{#def value, placeholder="" #}

{%- if value != null -%}
    {{ value }}
{%- else -%}
    {{ placeholder }}
{%- endif -%}
