{% extends "invenio_theme/page.html" %}

{% set embedded = request.args.get("embed") == "true" %}
{%- block header %}
{{ super() }}
{% if embedded %}
<base target="_blank">
{% endif %}
{% endblock header %}

{%- block page_header %}

{% if not embedded %}{{ super() }}{% endif %}
{% endblock page_header %}

{%- block page_footer %}
<input id="overridable-registry-name" type="hidden" name="overridable-registry-name" value='{{request.endpoint | tojson }}' />
{% if not embedded %}{{ super() }}{% endif %}
{% endblock page_footer %}

{%- block css%}
{{ super() }}
{% include config.THEME_CSS_TEMPLATE %}
{%- endblock css%}
