{#def
  record,
  record_ui,
  files,
  media_files,
  permissions,
  is_preview,
  include_deleted,
  is_draft,
  model,
  model_name,
  community,
  community_ui,
  user_avatar,
  record_owner_id,
  ui_links,
  extra_context,
  d,
#}
{% extends model_name ~ "/record_detail.html" %}