{# def
  forms_config,
  searchbar_config,
  record,
  files,
  files_locked,
  extra_context,
  ui_links,
  webpack_entry,
  context,
  permissions,
  model_name,
  theme = None,
  community = None,
  community_ui = None,
  community_use_jinja_header = False,
  preselectedCommunity = None,
  d = None,
#}
{% extends model_name ~ "/deposit_create.html" %}
