{# def
  forms_config,
  record,
  searchbar_config,
  files_locked,
  permissions,
  extra_context,
  ui_links,
  webpack_entry,
  context,
  d,
  model_name,
  files = None,
  theme = None,
  community = None,
  community_ui = {},
  community_use_jinja_header = False,
#}
{% extends model_name ~ "/deposit_edit.html" %}
