{#
SPDX-FileCopyrightText: 2026 CESNET z.s.p.o.
SPDX-License-Identifier: MIT
#}
{# def
  search_app_config,
  ui_config,
  ui_resource,
  ui_links,
  webpack_entry,
  model_name,
  extra_context,
  context,
#}
{% extends model_name ~ "/record_search.html" %}
