{# def
  record,
  record_ui,
  files,
  media_files,
  permissions,
  is_preview,
  include_deleted,
  is_draft,
  model,
  model_name,
  ui_links,
  extra_context,
  context,
  d,
  community = None,
  community_ui = None,
  user_avatar = None,
  record_owner_id = None,
#}
{% extends model_name ~ "/record_detail.html" %}